# Assignment

Link for Datasets
(https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

Q21.Write a pandas program to import three datasheets from a given
excel data (coalpublic2013.xlsx ) in to a single dataframe.
  
Note: Structure of three datasheets are same.

In [7]:
import pandas as pd
import numpy as np
p1=pd.read_excel(r"C:\Users\ADMIN\Downloads\coalpublic2013.xlsx")
p2=pd.read_excel(r"C:\Users\ADMIN\Downloads\employee.xlsx")
p3=pd.read_csv(r"C:\Users\ADMIN\Downloads\titanic.csv")
dat=pd.concat([p1,p2,p3])
print(dat)

     Labor_Hours   MSHA ID                       Mine_Name  Production  \
0        22392.0  103381.0            Tacoa Highwall Miner     56004.0
1        28447.0  103404.0                Reid School Mine     28807.0
2       474784.0  100759.0  North River #1 Underground Min   1440115.0
3        29193.0  103246.0                      Bear Creek     87587.0
4        46393.0  103451.0                     Knight Mine    147499.0
5        47195.0  103433.0              Crane Central Mine     69339.0
6       144002.0  100329.0                    Concord Mine         0.0
7      1001809.0  100851.0                  Oak Grove Mine   2269014.0
8        12396.0  102901.0                Shoal Creek Mine         0.0
9      1237415.0  102901.0                Shoal Creek Mine   1453024.0
10      196963.0  103180.0             Sloan Mountain Mine    327780.0
11       87314.0  103182.0                        Fishtrap    175058.0
12       90584.0  103285.0                     Narley Mine    154861.0
13       61394.0  103332.0                   Powhatan Mine    140521.0
14        1900.0  103375.0                    Johnson Mine       580.0
15      107469.0  103419.0               Maxine-Pratt Mine    125824.0
16         220.0  103432.0                   Skelton Creek      8252.0
17       70926.0  103437.0         Black Warrior Mine No 1    145924.0
18       14828.0  102976.0   Piney Woods Preparation Plant         0.0
19       23193.0  102976.0   Piney Woods Preparation Plant         0.0
20       12621.0  103380.0                          Calera         0.0
21        1402.0  103380.0                          Calera         0.0
22      140250.0  103422.0                 Clark No 1 Mine    122727.0
23       30539.0  103467.0             Helena Surface Mine     59664.0
24     1551141.0  101247.0                       No 4 Mine   2622528.0
25     2464719.0  101401.0                       No 7 Mine   5405412.0
26      119542.0  103172.0  Searles Mine No. 2, 3, 4, 5, 6    258078.0
27       63745.0  103179.0             Fleetwood Mine No 1     75937.0
28      164388.0  103303.0                    Shannon Mine    317491.0
29       46381.0  103323.0                   Deerlick Mine    133452.0
..           ...       ...                             ...         ...
861          NaN       NaN                             NaN         NaN
862          NaN       NaN                             NaN         NaN
863          NaN       NaN                             NaN         NaN
864          NaN       NaN                             NaN         NaN
865          NaN       NaN                             NaN         NaN
866          NaN       NaN                             NaN         NaN
867          NaN       NaN                             NaN         NaN
868          NaN       NaN                             NaN         NaN
869          NaN       NaN                             NaN         NaN
870          NaN       NaN                             NaN         NaN
871          NaN       NaN                             NaN         NaN
872          NaN       NaN                             NaN         NaN
873          NaN       NaN                             NaN         NaN
874          NaN       NaN                             NaN         NaN
875          NaN       NaN                             NaN         NaN
876          NaN       NaN                             NaN         NaN
877          NaN       NaN                             NaN         NaN
878          NaN       NaN                             NaN         NaN
879          NaN       NaN                             NaN         NaN
880          NaN       NaN                             NaN         NaN
881          NaN       NaN                             NaN         NaN
882          NaN       NaN                             NaN         NaN
883          NaN       NaN                             NaN         NaN
884          NaN       NaN                             NaN         NaN
885          NaN       NaN                             NaN         NaN
886          NaN       NaN                             NaN         NaN
887          NaN       NaN                             NaN         NaN
888          NaN       NaN                             NaN         NaN
889          NaN       NaN                             NaN         NaN
890          NaN       NaN                             NaN         NaN

     Unnamed: 15    Year adult_male   age alive  alone  ...       fare  \
0            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
1            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
2            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
3            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
4            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
5            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
6            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
7            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
8            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
9            NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
10           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
11           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
12           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
13           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
14           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
15           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
16           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
17           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
18           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
19           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
20           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
21           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
22           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
23           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
24           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
25           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
26           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
27           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
28           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
29           NaN  2013.0        NaN   NaN   NaN    NaN  ...        NaN
..           ...     ...        ...   ...   ...    ...  ...        ...
861          NaN     NaN       True  21.0    no  False  ...    11.5000
862          NaN     NaN      False  48.0   yes   True  ...    25.9292
863          NaN     NaN      False   NaN    no  False  ...    69.5500
864          NaN     NaN       True  24.0    no   True  ...    13.0000
865          NaN     NaN      False  42.0   yes   True  ...    13.0000
866          NaN     NaN      False  27.0   yes  False  ...    13.8583
867          NaN     NaN       True  31.0    no   True  ...    50.4958
868          NaN     NaN       True   NaN    no   True  ...     9.5000
869          NaN     NaN      False   4.0   yes  False  ...    11.1333
870          NaN     NaN       True  26.0    no   True  ...     7.8958
871          NaN     NaN      False  47.0   yes  False  ...    52.5542
872          NaN     NaN       True  33.0    no   True  ...     5.0000
873          NaN     NaN       True  47.0    no   True  ...     9.0000
874          NaN     NaN      False  28.0   yes  False  ...    24.0000
875          NaN     NaN      False  15.0   yes   True  ...     7.2250
876          NaN     NaN       True  20.0    no   True  ...     9.8458
877          NaN     NaN       True  19.0    no   True  ...     7.8958
878          NaN     NaN       True   NaN    no   True  ...     7.8958
879          NaN     NaN      False  56.0   yes  False  ...    83.1583
880          NaN     NaN      False  25.0   yes  False  ...    26.0000
881          NaN     NaN       True  33.0    no   True  ...     7.8958
882          NaN     NaN      False  22.0    no   True  ...    10.5167
883          NaN     NaN       True  28.0    no   True  ...    10.5000
884          NaN     NaN       True  25.0    no   True  ...     7.0500
885          NaN     NaN      False  39.0    no  False  ...    29.1250
886          NaN     NaN       True  27.0    no   True  ...    13.0000
887          NaN     NaN      False  19.0   yes   True  ...    30.0000
888          NaN     NaN      False   NaN    no  False  ...    23.4500
889          NaN     NaN       True  26.0   yes   True  ...    30.0000
890          NaN     NaN       True  32.0    no   True  ...     7.7500

    first_name hire_date last_name  parch  pclass     sex sibsp survived  \
0          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
1          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
2          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
3          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
4          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
5          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
6          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
7          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
8          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
9          NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
10         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
11         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
12         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
13         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
14         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
15         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
16         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
17         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
18         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
19         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
20         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
21         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
22         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
23         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
24         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
25         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
26         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
27         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
28         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
29         NaN       NaT       NaN    NaN     NaN     NaN   NaN      NaN
..         ...       ...       ...    ...     ...     ...   ...      ...
861        NaN       NaT       NaN    0.0     2.0    male   1.0      0.0
862        NaN       NaT       NaN    0.0     1.0  female   0.0      1.0
863        NaN       NaT       NaN    2.0     3.0  female   8.0      0.0
864        NaN       NaT       NaN    0.0     2.0    male   0.0      0.0
865        NaN       NaT       NaN    0.0     2.0  female   0.0      1.0
866        NaN       NaT       NaN    0.0     2.0  female   1.0      1.0
867        NaN       NaT       NaN    0.0     1.0    male   0.0      0.0
868        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
869        NaN       NaT       NaN    1.0     3.0    male   1.0      1.0
870        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
871        NaN       NaT       NaN    1.0     1.0  female   1.0      1.0
872        NaN       NaT       NaN    0.0     1.0    male   0.0      0.0
873        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
874        NaN       NaT       NaN    0.0     2.0  female   1.0      1.0
875        NaN       NaT       NaN    0.0     3.0  female   0.0      1.0
876        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
877        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
878        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
879        NaN       NaT       NaN    1.0     1.0  female   0.0      1.0
880        NaN       NaT       NaN    1.0     2.0  female   0.0      1.0
881        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
882        NaN       NaT       NaN    0.0     3.0  female   0.0      0.0
883        NaN       NaT       NaN    0.0     2.0    male   0.0      0.0
884        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0
885        NaN       NaT       NaN    5.0     3.0  female   0.0      0.0
886        NaN       NaT       NaN    0.0     2.0    male   0.0      0.0
887        NaN       NaT       NaN    0.0     1.0  female   0.0      1.0
888        NaN       NaT       NaN    2.0     3.0  female   1.0      0.0
889        NaN       NaT       NaN    0.0     1.0    male   0.0      1.0
890        NaN       NaT       NaN    0.0     3.0    male   0.0      0.0

       who
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
..     ...
861    man
862  woman
863  woman
864    man
865  woman
866  woman
867    man
868    man
869  child
870    man
871  woman
872    man
873    man
874  woman
875  child
876    man
877    man
878    man
879  woman
880  woman
881    man
882  woman
883    man
884    man
885  woman
886    man
887  woman
888  woman
889    man
890    man

[961 rows x 25 columns]

Q 22. Write a pandas program to import three datasheets from a given
excel data (employee.xlsx ) into a single data frame and export the
result into new Excel file.
 
Note: Structure of three datasheets are same.

In [9]:
dat.to_excel("out.xlsx")

Q23. Write a pandas program to create the Pivot table with multiple
indexes from the data set of the titanic.csv.

In [12]:
result = p3.pivot_table(p3, index = ["sex","age"], aggfunc=np.sum)
print(result)

              Unnamed: 15  adult_male  alone      fare  parch  pclass  sibsp  \
sex    age
female 0.75           0.0         0.0    0.0   38.5166      2       6      4
       1.00           0.0         0.0    0.0   26.8750      3       6      1
       2.00           0.0         0.0    0.0  259.4750      9      15      9
       3.00           0.0         0.0    0.0   62.6542      3       5      4
       4.00           0.0         0.0    0.0  114.1417      6      13      4
       5.00           0.0         0.0    1.0   90.8708      5      11      7
       6.00           0.0         0.0    0.0   64.2750      3       5      4
       7.00           0.0         0.0    0.0   26.2500      2       2      0
       8.00           0.0         0.0    0.0   47.3250      3       5      3
       9.00           0.0         0.0    0.0  108.7958      7      12     10
       10.00          0.0         0.0    0.0   24.1500      2       3      0
       11.00          0.0         0.0    0.0   31.2750      2       3      4
       13.00          0.0         0.0    1.0   26.7292      1       5      0
       14.00          0.0         0.0    1.0  169.1667      2       9      3
       14.50          0.0         0.0    0.0   14.4542      0       3      1
       15.00          0.0         0.0    2.0  241.0459      1      10      1
       16.00          0.0         0.0    3.0  246.2625      4      12      5
       17.00          0.0         0.0    3.0  210.7833      2      12      6
       18.00          0.0         0.0    4.0  697.0167      9      31      6
       19.00          0.0         0.0    3.0  215.0959      2      13      3
       20.00          0.0         0.0    1.0   18.4875      0       6      1
       21.00          0.0         0.0    4.0  410.4333      4      16      5
       22.00          0.0         0.0    7.0  444.1084      6      26      3
       23.00          0.0         0.0    3.0  405.5417      2      10      4
       24.00          0.0         0.0    7.0  772.1708     15      31     10
       25.00          0.0         0.0    1.0  223.2500      4      11      3
       26.00          0.0         0.0    3.0  136.7292      1      12      2
       27.00          0.0         0.0    2.0   76.8916      3      15      2
       28.00          0.0         0.0    4.0  110.9458      1      16      3
       29.00          0.0         0.0    2.0  320.6208      7      16      3
...                   ...         ...    ...       ...    ...     ...    ...
male   42.00          0.0        10.0    6.0  216.1084      1      21      3
       43.00          0.0         3.0    2.0   40.7500      1       8      1
       44.00          0.0         6.0    3.0  156.1250      1      15      3
       45.00          0.0         6.0    5.0  187.1000      0      10      1
       45.50          0.0         2.0    2.0   35.7250      0       4      0
       46.00          0.0         3.0    2.0  166.3750      0       4      1
       47.00          0.0         7.0    7.0  181.3583      0      12      0
       48.00          0.0         5.0    3.0  176.1334      0       8      2
       49.00          0.0         4.0    1.0  256.9167      1       6      3
       50.00          0.0         5.0    2.0  317.0250      0       8      4
       51.00          0.0         6.0    5.0  123.3084      1      13      0
       52.00          0.0         4.0    3.0  136.6500      1       6      1
       54.00          0.0         5.0    3.0  195.1500      1       8      1
       55.00          0.0         1.0    1.0   30.5000      0       1      0
       55.50          0.0         1.0    1.0    8.0500      0       3      0
       56.00          0.0         3.0    3.0   92.7458      0       3      0
       57.00          0.0         1.0    1.0   12.3500      0       2      0
       58.00          0.0         2.0    1.0  142.9750      2       2      0
       59.00          0.0         2.0    2.0   20.7500      0       5      0
       60.00          0.0         3.0    1.0  144.7500      2       4      2
       61.00          0.0         3.0    3.0   72.0583      0       5      0
       62.00          0.0         3.0    3.0   63.6000      0       4      0
       64.00          0.0         2.0    1.0  289.0000      4       2      1
       65.00          0.0         3.0    2.0   96.2792      1       5      0
       66.00          0.0         1.0    1.0   10.5000      0       2      0
       70.00          0.0         2.0    1.0   81.5000      1       3      1
       70.50          0.0         1.0    1.0    7.7500      0       3      0
       71.00          0.0         2.0    2.0   84.1584      0       2      0
       74.00          0.0         1.0    1.0    7.7750      0       3      0
       80.00          0.0         1.0    1.0   30.0000      0       1      0

              survived
sex    age
female 0.75          2
       1.00          2
       2.00          2
       3.00          1
       4.00          5
       5.00          4
       6.00          1
       7.00          1
       8.00          1
       9.00          0
       10.00         0
       11.00         0
       13.00         2
       14.00         3
       14.50         0
       15.00         4
       16.00         5
       17.00         5
       18.00         8
       19.00         7
       20.00         0
       21.00         4
       22.00        10
       23.00         4
       24.00        14
       25.00         2
       26.00         3
       27.00         5
       28.00         5
       29.00         5
...                ...
male   42.00         3
       43.00         0
       44.00         1
       45.00         2
       45.50         0
       46.00         0
       47.00         0
       48.00         3
       49.00         2
       50.00         1
       51.00         1
       52.00         1
       54.00         0
       55.00         0
       55.50         0
       56.00         1
       57.00         0
       58.00         0
       59.00         0
       60.00         1
       61.00         0
       62.00         1
       64.00         0
       65.00         0
       66.00         0
       70.00         0
       70.50         0
       71.00         0
       74.00         0
       80.00         1

[145 rows x 8 columns]

Q24. Write a Pandas program to create the Pivot table and find survival
rate by gender?

In [13]:
age = pd.cut(p3['age'], [0, 20, 55])
result = p3.pivot_table('survived', index=['sex', age], columns='class')
print(result)

class               First    Second     Third
sex    age
female (0, 20]   0.928571  1.000000  0.510638
       (20, 55]  0.968750  0.912281  0.407407
male   (0, 20]   0.571429  0.526316  0.197368
       (20, 55]  0.440000  0.054054  0.134503

Q25. Write a pandas program to make partition each of the passengers
into 4 categories based on their age.
 
Note: Age categories- (0, 10), (10, 30), (30, 60), (60, 80)

In [14]:
age = pd.cut(p3['age'], [0, 10,30, 60,80])
result = p3.pivot_table('survived', index=['sex', age], columns='class')
print(result)

class               First    Second     Third
sex    age
female (0, 10]   0.000000  1.000000  0.500000
       (10, 30]  0.970588  0.916667  0.508772
       (30, 60]  0.979167  0.900000  0.272727
       (60, 80]  1.000000       NaN  1.000000
male   (0, 10]   1.000000  1.000000  0.363636
       (10, 30]  0.458333  0.023256  0.139073
       (30, 60]  0.412698  0.090909  0.118421
       (60, 80]  0.083333  0.333333  0.000000

Q26. Write a pandas program to create the Pivot table and find survival
rate by the gender, age of the different categories of various
classes.

In [15]:
age = pd.cut(p3['age'], [0, 20, 55])
result = p3.pivot_table('survived', index=['sex', age], columns='class')
print(result)

class               First    Second     Third
sex    age
female (0, 20]   0.928571  1.000000  0.510638
       (20, 55]  0.968750  0.912281  0.407407
male   (0, 20]   0.571429  0.526316  0.197368
       (20, 55]  0.440000  0.054054  0.134503

Q27. Write a pandas program to create the Pivot table and calculate
number of women and men were in a particular cabin class.

In [16]:
res = p3.pivot_table(index=['sex'], columns=['pclass'], aggfunc='count')
res

       Unnamed: 15       adult_male            age          alive ...  parch  \
pclass           1  2  3          1    2    3    1   2    3     1 ...      3
sex                                                               ...
female           0  0  0         94   76  144   85  74  102    94 ...    144
male             0  0  0        122  108  347  101  99  253   122 ...    347

       sibsp           survived            who
pclass     1    2    3        1    2    3    1    2    3
sex
female    94   76  144       94   76  144   94   76  144
male     122  108  347      122  108  347  122  108  347

[2 rows x 42 columns]

Q28. Write a pandas program to create the Pivot table and separate
the gender according to whether they travelled alone or not to get
the probability of survival

In [17]:
result = p3.pivot_table( 'survived' , [ 'sex' , 'alone' ] , 'class' )
print(result)

class            First    Second     Third
sex    alone
female False  0.966667  0.931818  0.416667
       True   0.970588  0.906250  0.616667
male   False  0.425532  0.277778  0.180723
       True   0.333333  0.097222  0.121212

Q29. Write a pandas program to create the Pivot table and find the
probability of survival by class, gender, solo boarding, and the port
of embarkation.

In [18]:
result = p3.pivot_table('survived', ['sex' , 'alone' ], [ 'embark_town', 'class' ])
print(result)

embark_town  Cherbourg                     Queenstown                   \
class            First    Second     Third      First Second     Third
sex    alone
female False  1.000000  1.000000  0.611111        1.0    NaN  0.625000
       True   0.944444  1.000000  0.800000        NaN    1.0  0.760000
male   False  0.473684  0.166667  0.500000        0.0    NaN  0.100000
       True   0.347826  0.250000  0.151515        NaN    0.0  0.068966

embark_town  Southampton
class              First    Second     Third
sex    alone
female False    0.941176  0.923077  0.327586
       True     1.000000  0.892857  0.466667
male   False    0.407407  0.300000  0.142857
       True     0.326923  0.089552  0.123762

Q30. Write a pandas program to get current date, oldest date and
number of days between Current date and the oldest date of Ufo
dataset.

Q31. Write a pandas program to get all sighting days of the
unidentified flying object (ufo) between 1950-10-10 and 1960-10-
10.

Q32. Write a Pandas program to extract the year, month, day, hour,
minute, second, and weekday from unidentified flying object (UFO)
reporting date.

Q33. Write a pandas program to count year-country wise frequency of
reporting dates of the unidentified flying object(UFO).

Q34. Write a pandas program to get the difference (in days) between
documented date and reporting date of unidentified flying object
(UFO).

Q35. Write a pandas program to generate sequences of fixedfrequency dates and time spans.

Q36. Write a pandas program to manipulate and convert date times
with timezone information.

Q37. Write a pandas program to create the graphical analysis of UFO
(unidentified flying object) Sightings year.

Q38. Write a pandas program to create a comparison of the top 10
years in which the (UFO) was sighted VS each Month.

Q39. Write a pandas program to create a heatmap (rectangular data as
a colour-encoded matrix) for comparison of top 10 years in
which (UFO ) was sighted VS each Month.

Q40. Write a pandas program to create a Timewheel of Hour VS Year
comparison of the top 10 years in which the (UFO) was sighted

## Great Job!